.subjects {
    background-color: #FFCDD2;
    padding: 15px;
    border-radius: 50px;
}

.round-button {
    border-radius: 100px;
    background-color: #EF5350;
    padding: 10px;
    left: 5%;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 24px;
    border: none;
    outline: none;
    cursor: pointer;
}

.move-button {
    position: absolute;
    transition: transform 1s, left 1.25s, background-color 1.5s;
}

.add_div {
    position: relative;
    padding: 15px;
    align-items: center;
    width: 50%;
}

.inputBox {
    border-radius: 40px;
    height: 50px;
    width: 75%;
    border: none;
    background-color: #E1BEE7;
    color: white;
    outline: none;
    padding-left: 3%;
    padding-right: 3%;
    font-size: medium;
    transition: opacity 1s;
    opacity: 0;
}

.inputBox.visible {
    opacity: 1;
}